* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

img {
  max-width: 100%;
}

:root {
  --black: #121212;
  --dark-Blue: #19202d;
  --white: #ffffff;
  --grey-100: #e7eaee;
  --grey-200: #cfcfcf;
  --grey-400: #676d7e;
  --grey-500: #48556a;
  --purple-50: #ede4ff;
  --purple-300: #a775f1;
  --purple-500: #733fc8;

  /* Typography */
  /* Font Weights: 500, 600 */

  /* Text Preset 1
  Barlow Semi Condensed Semibold
  20px ; 120% Line Height */

  /* Text Preset 2
  Barlow Semi Condensed Medium
  13px ; 110% Line Height */

  /* Text Preset 3
  Barlow Semi Condensed Medium
  13px ; 140% Line Height */

  /* Text Preset 4
  Barlow Semi Condensed Medium
  11px ; 110% Line Height */
}

body,
html {
  height: 100%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--grey-100);
}

.container {
  max-width: 1300px;
  margin: auto auto;
  padding: 50px;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2.5rem;
  row-gap: 1.5rem;
}

/* Boxes */
.box {
  padding: 2.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 8px;
  align-items: start;
  justify-content: start;
  /* height: fit-content; */

  color: var(--white);

  filter: drop-shadow(19px 17px 26px #757575);
}

/* General Box Font Styling */

.box .author-name p:first-child {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--white);
}

.box .author-name p:last-child {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1px;
  color: var(--grey-100);
}

.box h1,
.box h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 120%;
  color: var(--white);
}

.box .info p {
  line-height: 140%;
  color: var(--grey-100);
  font-size: 1rem;
}

/* ---------------------------- */
.box .author-information {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.box img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--purple-300);
}

.box .author-name {
  display: inline-block;
}

/* Individual Boxes */

/* Box-1 Extra Styling */
.box-1 {
  grid-column: span 2;
  background-color: var(--purple-500);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 17% bottom 100%;
}

.box-1 .author-name p:first-child {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--purple-50);
}

.box-1 .author-name p:last-child {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1px;
  color: var(--purple-300);
}

.box-1 h1,
.box-1 h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 120%;
}

.box-1 .info p {
  line-height: 140%;
  color: var(--purple-300);
  font-size: 1rem;
}

/* ------------------- */

.box-2 {
  background-color: var(--grey-500);
  color: var(--white);
}
/* Box-3 Styling */
.box-3 {
  background-color: var(--white);
  grid-row: span 2;
  color: var(--dark-Blue);
  padding-right: 5rem;
}

.box-3 h1,
.box-3 h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 120%;
  color: var(--grey-400);
  margin-bottom: 1rem;
}

.box-3 .info p {
  color: var(--grey-400);
}

.box-3 .author-name p:first-child {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--grey-500);
}

.box-3 .author-name p:last-child {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1px;
  color: var(--grey-400);
}
/* ------------------- */

/* Box 4 Styling */
.box-4 {
  background-color: var(--white);
  padding-right: 4rem;
}

.box-4 .author-information {
  margin-bottom: 1rem;
}

.box-4 h2 {
  margin-bottom: 1rem;
  color: var(--grey-500);
}

.box-4 .author-name p:first-child {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--grey-500);
}

.box-4 .author-name p:last-child {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1px;
  color: var(--grey-400);
}

.box-4 h1,
.box-4 h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 120%;
}

.box-4 .info p {
  line-height: 140%;
  color: var(--grey-400);
  font-size: 1rem;
}

.flex-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ------------------------- */

/*-----------Box 5--------- */
.box-5 {
  background-color: var(--dark-Blue);
  grid-column: span 2;
}

.box-5 .author-information {
  margin-bottom: 1rem;
}

.box-5 .heading {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .body {
    font-size: 5px !important;
  }
  .container {
    max-width: 500px;
    margin: 40px 20px;
    padding: 0;
  }

  .section-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, auto);
    /* grid-template-rows: repeat(4, 1fr); */

    row-gap: 3rem;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    grid-row: unset;
    grid-column: unset;
    /* height: fit-content; */
  }

  .box-1 {
    background-image: none;
  }
}
